@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

*{ margin:0;
    padding:0;
    text-decoration: none;

    
    
  


}

body{

background-color: #071952;
color: aliceblue;
box-sizing: border-box;


}
.rodape{
    display: flex;
background-color: #071952;
color:#0B666A;
font-family:'Montserrat', sans-serif;
font-size: 2rem;
justify-content:center;
font-weight: 700;
padding: 0.5rem;
border-top: solid #35A29F;
}
.rodape__links{
    align-items: center;
    display: flex;
    justify-content: center;
    color:#35A29F;
    text-align:center;
    font-size: 1.8rem;
    border-radius: 8px;
    padding:20px  0;
    font-family:'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 700;
    border: 2px solid #35A29F;
    width: 12rem;
    height: 1rem;
    margin: 1rem;
    color: #0B666A;
    
}

.rodape__texto{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
 color: aqua;




}

.header__menu{
    border-bottom: 1px solid #35A29F;
            background-color: #071952;
            display: flex;
            align-items: start;
            height: 2rem;
            padding: 1rem;
            color: #35A29F;
            font-size: 1.5rem;
            font-weight: 900;
            font-family: 'Montserrat', sans-serif; }
            .header__menu__html{
                padding: 0.5rem;
                border: 0.125rem solid  #35A29F;
                border-radius: 0.5rem;
                color: #0B666A;
            }
            
            .header__menu__java{
                padding: 0.5rem;
                border: 0.125rem solid  #35A29F;
                border-radius: 0.5rem;
                color: #0B666A;
            }
            
            .header__menu__home{
                padding: 0.5rem;
                border: 0.125rem solid  #35A29F;
                border-radius: 0.5rem;
                color: #35A29F;
            }
            .header__menu__home:hover{
                color: aqua;
                padding: 0.75rem;
            }
            .header__menu__java:hover{
                color: aqua;
                padding: 0.75rem;
            }
            .header__menu__html:hover{
                color: aqua;
                padding: 0.75rem;
            
            }
            
            .tipos{
                color: aqua;
            }
            .rodape__links:hover{
                color: aqua;
                padding: 1.5rem;
                border: 0.5 solid aqua;
            }
            .main__4prepare{
                display: flex;
                justify-content: space-between;
                align-items:center;
                margin: 10%;
                
                }
                .main__4prepare__texto{
                    width: 30rem;
                    display: flex;
                    flex-direction: column;
                    gap: 2.5rem;
                    padding-bottom: 5%;
                }
                .main__4prepare__titulo{
                    align-items: center;
                    font-size: 3rem;
                    font-family:'Montserrat', sans-serif;
                    display: flex;
                    padding-top: 2%;
                    padding-bottom: 2%;
                    color:aqua;
                    font-weight: 1200;
                
                }
                .main__4prepare__paragrafo{
                    font-family:'Montserrat', sans-serif;
                    font-size: 2rem;
                    color: #35A29F;
                    font-weight: 700;
                }
                .main__img{

                    width: 50%;
                    border: 0.25rem solid  #35A29F;
                    border-radius: 1rem;
                    }
                    .main__4prepare__subtitulo{
                        align-items: center;
                        font-size: 2.5rem;
                        font-family:'Montserrat', sans-serif;
                        display: flex;
                        padding-top: 2%;
                        padding-bottom: 2%;
                        color:aqua;
                        font-weight: 1200;}
                        .main__img{

                            width: 50%;
                            border: 0.25rem solid  #35A29F;
                            border-radius: 1rem;
                            }            

                            @media (max-width:1200px){
                                .header__menu{
                                    padding: 10%;
                                    justify-content: center;
                                }
                                .main__4prepare{
                                    flex-direction: column-reverse;
                                    padding:5% ;
                                }
                                .main__4prepare__texto{
                                    padding:auto;
                                }
                                .main__img{
                                    width: 50%;
                                    padding-bottom: 20%;
                                }

                                .main__4prepare__titulo{
                                    font-size: 1rem;
                                }

                                .main__4prepare__paragrafo{
                                    font-family:'Montserrat', sans-serif;font-size: 12px;
                                }
                                .rodape{
                                    width: auto;
                            
                                    font-size: 16px;
                                justify-content: center;
                                font-weight: 700;
                                padding: 10px;}

                                .rodape__texto{
                                    font-size: 1rem;
                                }
                                .rodape__links{
                                    font-size: 1rem;
                                        width: 100%;
                                }}